<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form id="registerForm">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="phone">Phone Number:</label>
        <input type="text" id="phone" name="phone" placeholder="+7123456789" required><br><br>

        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            {% for gender in genders %}
                <option value="{{ gender.id }}">{{ gender.value }}</option>
            {% endfor %}
        </select><br><br>

        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday"><br><br>

        <label for="passport_series">Passport Series:</label>
        <input type="text" id="passport_series" name="passport_series" maxlength="4"><br><br>

        <label for="passport_number">Passport Number:</label>
        <input type="text" id="passport_number" name="passport_number" maxlength="6"><br><br>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="example@mail.com" required><br><br>

        <button type="submit">Register</button>
    </form>
    <script>
        document.getElementById('registerForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const formData = new FormData(event.target);
            const data = Object.fromEntries(formData.entries());
            console.log(data)

            try {
                const response = await fetch('/deals/register/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });

                if (response.ok) {
                    const responseBody = await response.json();
                    const userId = responseBody.user_id;

                    document.cookie = `user_id=${userId}; path=/;`;

                    window.location.href = '/deals/rooms';
                } else {
                    alert('Register failed. Please try again.');
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred. Please try again later.');
            }
        });
    </script>
</body>
</html>